/* CalendarLayout.module.css */
.calendarLayout {
  /* Calendar layout is now handled by ClinicLayout for calendar pages */
  /* This component now just provides a wrapper for the calendar content */
  display: flex;
  flex-direction: column;
  height: 100%;
}

.calendarLayout :global(*) {
  box-sizing: border-box;
}